<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.steps_count">

    <uses-sdk>
        android:minSdkVersion="21"
        android:targetSdkVersion="19"></uses-sdk>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <provider
            android:authorities="com.example.administrator.steps_count"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ff093d2d117998d5bab4b1277a0455a7" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ff093d2d117998d5bab4b1277a0455a7" />

        <activity
            android:name=".Activity.Frag_MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105602574" /> <!-- 开放平台获取的APPID -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Activity.WelcomeActivity" />
        <activity
            android:name=".Activity.PerMassageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UpdateMsgActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AddressActivity"
            android:label="@string/title_activity_goods" />
        <activity android:name=".Activity.InsertAddress" />
        <activity android:name=".Activity.Updatepwd" />
        <activity android:name=".Activity.CotentActivity" />
        <activity android:name=".step.Look_steps" />
        <activity android:name=".mall.Mall_Detail_Activity" />
        <activity android:name=".mall.Mall_Firmorder_Acitvity" />
        <activity android:name=".mall.Mall_Search_Activity" />
        <activity android:name=".mall.Mall_Search_Finally_Activity"/>
        <activity android:name=".mall.Mall_Address_Manager_Activity"/>
        <activity android:name=".mall.Mall_collect_Activity"></activity>
        <activity android:name=".step.Step_Map" />
        <activity android:name=".Activity.CheckPermissionsActivity" />
        <activity android:name=".mall.Mall_Address_Activity" />
        <activity android:name=".step.Step_MainActivity" />
        <activity android:name=".Main_Activity.Plan_Activity" />
        <activity android:name=".Main_Activity.Plan_Add_Activity" />
        <activity android:name=".Main_Activity.Text_Activity" />
        <activity android:name=".Main_Activity.Text_Do_Activity" />
        <activity android:name=".Main_Activity.Text_Result" />
        <activity android:name=".mall.Order_Management_Activity"></activity>
        <activity android:name=".mall.Logistics_Activity"></activity>
        <activity android:name=".mall.Addaddress_Acitvity"></activity>
        <activity android:name=".step.Step_Map_Activity"></activity>
        <activity android:name=".Activity.LookActivity"/>


        <activity android:name=".step.Step_Plan_Activity"/>
        <activity android:name=".Activity.Step_About_Activity"/>
        <activity android:name=".Main_Activity.Weight_Add_Activity"/>
        <activity android:name=".Main_Activity.Weight_Activity"
            android:theme="@style/Theme.Design.Light"
            android:label="体重" />
        <activity android:name=".Main_Activity.Weight_Aim_Activity"/>
        <activity android:name=".Main_Activity.Eat_Activity" />
        <activity android:name=".Main_Activity.Eat_Add_Activity"
            android:launchMode="singleTask" />
        <activity android:name=".Main_Activity.Food_select_Activity" />
        <activity android:name=".Main_Activity.Food_Self_Activity" />
        <activity android:name=".Main_Activity.Eat_Aim_Activity" />
        <activity android:name=".step.Run_Timer" />
        <activity android:name=".Main_Activity.Drink_Coffee_Activity"/>

        <!-- 计步功能 -->
        <service
            android:name=".step.StepService"
            android:priority="1000"
            android:process="com.example.administrator.steps_count">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <!-- 声明定位service -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".Activity.UpdateAddress" />
        <activity
            android:name=".Activity.QQBaiduRegister"
            android:label="@string/title_activity_qqbaidu_register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Activity.PerCollect" />
        <activity android:name=".Activity.CollectShow" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.NewConsult" />
        <activity android:name=".Activity.NewMall" />
        <activity android:name=".Activity.NewDynamic" />
        <activity android:name=".Activity.ShowDynamic"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Activity.ReviewActivity" />
        <activity android:name=".Activity.InsertReview" />
        <activity android:name=".Activity.ReplyActivity" />
        <activity android:name=".Activity.Publishdy" />
    </application>

</manifest>